/backEnd/temp
*.pydevproject
.metadata
.gradle
.recommenders
.classpath
.project
.checkstyle
Project Docs/
.class
/.idea
*/.idea
.idea/
bin/
tmp/
*.tmp
*.bak
/tagcwebapp/tagcwebapp.iml
/backEnd/backEnd.iml
*.swp
*~.nib

local.properties
.settings/
.loadpath

# Database: temporary csv files.
temp
backEnd/temp

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

application.log

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
target/