#phyloBackButton {
    position: absolute;
    left: calc(50% - 21px);
    top: calc(50% - 10px);
    cursor: pointer;
    display: none;
}

#phyloButtons {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

#svgcanvas {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}

svg a.selected text {
    fill: green;
}

#svgcanvas svg {
    margin: 30px;
    overflow: visible;
}

circle.selected {
    fill: green;
}

svg circle {
    cursor: pointer;
}