#phyloBackButton {
    position: absolute;
    left: calc(50% - 21px);
    top: calc(50% - 10px);
    cursor: pointer;
    display: none;
}

#phyloButtons {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 100%;
}

#svgcanvas {
    position: relative;
    width: 85%;
    height: 100%;
    margin: 0;
    display: inline-block;
    float: left;
}

svg a.selected text {
    fill: green;
}

#svgcanvas svg {
    margin: 30px;
    overflow: visible;
}

#selectedGenomeList {
    width: 15%;
    height: 100%;
    margin: 0;
    display: inline-block;
    float: right;
    padding: 5px;
    border-left: 1px solid black;
    font-size: 18px;
    line-height: 18px;
}

circle.selected {
    fill: green;
}

svg circle {
    cursor: pointer;
}

#selectedGenomeList li {
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    width: 100%;
}

#selectedGenomeList li.firstLi {
    display: none;
}

#selectedGenomeList li:only-child {
    display: list-item;
}

#selectedGenomeList li:hover {
    background-color: #ddd;
}

input#phyloZoomLevel {
    padding: 2px;
    margin: 3px;
    width: 50px;
    display: inline;
}