/*div, body, html {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

/*#splashscreen {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 110px;*/
    /*left: 0;*/
    /*top: 15%;*/
    /*display: none;*/
    /*background: url('../img/logo.jpg') no-repeat;*/
    /*background-size: 100% auto*/
/*}*/

/*#container {*/
    /*display: none;*/
    /*padding: 30px;*/
    /*margin: 0;*/
/*}*/

/*#header {*/
    /*display: none;*/
    /*left: 0;*/
    /*width: 0;*/
    /*margin-left: 2px;*/
    /*height: 117px;*/
    /*background: url('../img/background-top.jpg') repeat-x;*/
    /*background-size: auto 100%;*/
/*}*/

/*#container .genome {*/
    /*width: 100%;*/
    /*height: 300px;*/
    /*border: 1px solid #454545;*/
    /*background-color: #EEE;*/
    /*margin-bottom: 30px;*/
/*}*/

/*#container .genome .slider {*/
    /*background-color: rgba(00, 127, 255, .2);*/
    /*border: 1px solid #007fff;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 75px;*/
    /*box-sizing: border-box;*/
    /*cursor: pointer;*/
/*}*/

/*#container #zoomWindow, #container #zoomWindow canvas {*/
    /*width: 100%;*/
    /*height: 300px;*/
/*}*/

/*#minimap canvas {*/
    /*position: absolute;*/
/*}*/

body, html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#sub {
    height: 300px;
    background-color: rgba(255,255,255, 0.5);
}

#phylogenyContainer {
    width: 50%;
    height: 100%;
    float: left;
    display: inline-block;
    border-right: 3px solid rgba(55, 192, 251, 0.75);
    box-sizing: border-box;
    overflow: hidden;
}

#zoom {
    border-bottom: 7px solid rgba(27, 27, 27, 0.75);
    box-sizing: border-box;
    height: 300px;
}

div#minimapContainer {
    display: inline-block;
    width: 50%;
    float: left;
    height: 100%;
}

#minimap {
    height: 100%;
    position: relative;
}

#minimap .slider {
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 255, 0.3);
    cursor: pointer;
    z-index: 50;
}

#d3_layout_phylotree_context_menu a {
    cursor: pointer;
}

.canvasContainer {
    position: absolute;
    top: 0;
}

#zoomWindow {
    height: 100%;
}

#nodeDialog {
    position: absolute;
    display: none;
}

#nodeDialog .message {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #747171;
    background: #f7f7f7 url("../img/bg01.png");
    position: relative;
}

#nodeDialog .message:after, #nodeDialog .message:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#nodeDialog .message:after {
    border-color: rgba(247, 247, 247, 0);
    border-top-color: #F7F7F7;
    border-width: 7px;
    margin-left: -7px;
}

#nodeDialog .message:before {
    border-color: rgba(116, 113, 113, 0);
    border-top-color: #747171;
    border-width: 8px;
    margin-left: -8px;
}