body, html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#sub {
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
}

#phylogenyContainer {
    width: 50%;
    height: 100%;
    float: left;
    display: inline-block;
    border-right: 3px solid rgba(55, 192, 251, 0.75);
    box-sizing: border-box;
    overflow: hidden;
}

#zoom {
    border-bottom: 7px solid rgba(27, 27, 27, 0.75);
    box-sizing: border-box;
    height: 300px;
    cursor: pointer;
}

div#minimapContainer {
    display: inline-block;
    width: 50%;
    float: left;
    height: 100%;
}

#minimap {
    height: 100%;
    position: relative;
}

#minimap .slider {
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 255, 0.3);
    cursor: pointer;
    z-index: 50;
}

#d3_layout_phylotree_context_menu a {
    cursor: pointer;
}

.canvasContainer {
    position: absolute;
    top: 0;
}

#zoomWindow {
    height: 70%;
}

#nodeDialog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    border: 1px solid #747171;
    background: #f7f7f7;
    font-size: 16px;
}

#nodeDialog .message {
    width: 50%;
    font-size: 10px;
    position: relative;
    border-right: 1px solid black;
    height: 100%;
    line-height: initial;
    box-sizing: border-box;
    display: inline-block;
    overflow: auto;
}

#nodeDialog .messageLabel {
    width: 100px;
    height: 17px;
    left: 0px;
    margin-top: -18px;
    margin-left: 7px;
    padding-left: 3px;
    content: "Description";
    z-index: 100000;
    display: block;
    font-size: 14px;
    line-height: 14px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 3px 3px 0 0;
}

#nodeDialog .annotationLabel {
    width: 100px;
    position: absolute;
    height: 17px;
    padding-left: 3px;
    content: "Description";
    display: inline;
    font-size: 14px;
    top: -18px;
    line-height: 14px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 3px 3px 0 0;
}

#nodeDialog .annotation {
    width: 49%;
    font-size: 10px;
    position: relative;
    height: 100%;
    display: inline-block;
    line-height: initial;
    overflow: auto;
    margin-left: -4px;
}

#nodeDialog .annotation li {
    width: 30%;
    float: left;
    font-size: 12px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 3px;
}

body.showButtons .sButton {
    display: initial;
}

body:not(.showButtons) .sButton {
    display: none;
}

body.showButtons .hButton {
    display: none;
}

body:not(.showButtons) .hButton {
    display: initial;
}

#zoomButtons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#zoomButtons button {
    padding: 0;
    margin: 0;
    line-height: 20px;
    width: 24px;
    margin-top: 7px;
}

input#coordinateSelector {
    width: 100px;
    height: 18px;
    font-size: 14px;
    display: inline;
}

#minimap .coordinateSelector {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
    z-index: 10000;
}

input#searchMutation {
    height: 28px;
    border-radius: 3px;
    padding: 2px;
    display: inline;
    width: 204px;
}

.ui-autocomplete.ui-menu .ui-menu-item {
    font-size: 13px;
    height: 20px;
    border-bottom: 1px solid black;
    padding: 2px 0 0 5px;
    line-height: initial;
}

.ui-autocomplete {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

div#legendaCanvas {
    display: none;
    border: 6px solid #37c0fb;
    border-top: none;
    position: absolute;
    background-color: #333;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/bg01.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/bg01.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/bg01.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/bg01.png");
    padding: 10px;
}

#phyloButtons .right {
    float: right;
}

input[type="number"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    background: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
}

.dropotron li {
    padding: 5px;
    border-bottom: 1px solid #cecece;
    line-height: 20px;
}