div, body, html {
    padding: 0;
    margin: 0;
}

#splashscreen {
    position: absolute;
    width: 100%;
    height: 110px;
    left: 0;
    top: 15%;
    display: none;
    background: url('../img/logo.jpg') no-repeat;
    background-size: 100% auto
}

#container {
    display: none;
    padding: 30px;
    margin: 0;
}

#header {
    display: none;
    left: 0;
    width: 0;
    margin-left: 2px;
    height: 117px;
    background: url('../img/background-top.jpg') repeat-x;
    background-size: auto 100%
}

#container .genome {
    width: 100%;
    height: 300px;
    border: 1px solid #454545;
    background-color: #EEE;
    margin-bottom: 30px;
}

#container .genome .slider {
    background-color: rgba(00, 127, 255, .2);
    border: 1px solid #007fff;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    cursor: pointer;
}

#container #zoomWindow, #container #zoomWindow canvas {
    width: 100%;
    height: 300px;
}

#minimap canvas {
    position: absolute;
}