/*div, body, html {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/

/*#splashscreen {*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 110px;*/
/*left: 0;*/
/*top: 15%;*/
/*display: none;*/
/*background: url('../img/logo.jpg') no-repeat;*/
/*background-size: 100% auto*/
/*}*/

/*#container {*/
/*display: none;*/
/*padding: 30px;*/
/*margin: 0;*/
/*}*/

/*#header {*/
/*display: none;*/
/*left: 0;*/
/*width: 0;*/
/*margin-left: 2px;*/
/*height: 117px;*/
/*background: url('../img/background-top.jpg') repeat-x;*/
/*background-size: auto 100%;*/
/*}*/

/*#container .genome {*/
/*width: 100%;*/
/*height: 300px;*/
/*border: 1px solid #454545;*/
/*background-color: #EEE;*/
/*margin-bottom: 30px;*/
/*}*/

/*#container .genome .slider {*/
/*background-color: rgba(00, 127, 255, .2);*/
/*border: 1px solid #007fff;*/
/*left: 0;*/
/*top: 0;*/
/*width: 100%;*/
/*height: 75px;*/
/*box-sizing: border-box;*/
/*cursor: pointer;*/
/*}*/

/*#container #zoomWindow, #container #zoomWindow canvas {*/
/*width: 100%;*/
/*height: 300px;*/
/*}*/

/*#minimap canvas {*/
/*position: absolute;*/
/*}*/

body, html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#sub {
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
}

#phylogenyContainer {
    width: 50%;
    height: 100%;
    float: left;
    display: inline-block;
    border-right: 3px solid rgba(55, 192, 251, 0.75);
    box-sizing: border-box;
    overflow: hidden;
}

#zoom {
    border-bottom: 7px solid rgba(27, 27, 27, 0.75);
    box-sizing: border-box;
    height: 300px;
}

div#minimapContainer {
    display: inline-block;
    width: 50%;
    float: left;
    height: 100%;
}

#minimap {
    height: 100%;
    position: relative;
}

#minimap .slider {
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 255, 0.3);
    cursor: pointer;
    z-index: 50;
}

#d3_layout_phylotree_context_menu a {
    cursor: pointer;
}

.canvasContainer {
    position: absolute;
    top: 0;
}

#zoomWindow {
    height: 100%;
}

#nodeDialog {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    border: 1px solid #747171;
    border-radius: 3px;
    background: #f7f7f7;
    font-size: 16px;
}

#nodeDialog .message {
    font-size: 10px;
    overflow: hidden;
    position: relative;
    height: 100%;
    line-height: initial;
    /* height: 100px; */
}

body.showButtons .sButton {
    display: initial;
}

body:not(.showButtons) .sButton {
    display: none;
}

body.showButtons .hButton {
    display: none;
}

body:not(.showButtons) .hButton {
    display: initial;
}

#zoomButtons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#zoomButtons button {
    padding: 0;
    margin: 0;
    line-height: 20px;
    width: 24px;
    margin-top: 7px;
}

input#coordinateSelector {
    width: 50px;
    height: 18px;
    font-size: 14px;
}

#minimap .coordinateSelector {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
    z-index: 10000;
}

div#legendaCanvas {
    display: none;
    border: 6px solid #37c0fb;
    border-top: none;
    position: absolute;
    background-color: #333;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/bg01.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/bg01.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/bg01.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/bg01.png");
    padding: 10px;
}